<div id="div-margin-bottom" *ngIf="detalhesFilme; else loading">
    <div *ngFor="let filme of detalhesFilme">
        <div class="container" style="margin-bottom: 60px;">
            <div class="row">
                <div class="col-lg">
                    <img [src]="filme.Poster" class="img-center" style="border-radius: 5px;"/>
                </div>
                <div class="col">
                    <h3 class="title">{{ filme.Title }}</h3>
                    <small>{{ filme.Genre }}, {{ filme.Year }}</small><br />
                    <small>Director: {{ filme.Director }}</small><br />
                    <small>Released: {{ filme.Released }}</small><br />
                    <small>Production: {{ filme.Production }}</small><br />
                    <small>Runtime: {{ filme.Runtime }}</small><br />
                    <small>Type: {{ filme.Type }}</small>
                    <p style="text-align: justify; margin-top: 15px;">
                        {{ filme.Plot }}
                    </p>

                    <star-rating style="width: 100px;" [ratingValue]="filme.imdbRating"></star-rating>
                </div>
            </div>
        </div>
        <app-footer *ngIf="filme"></app-footer>
    </div>
</div>
<ng-template #loading>
    <spinner-load></spinner-load>
</ng-template>