<div style="text-align: center; margin-top: 70px; margin-bottom: 300px;" class="jumbotron">
    <h5>
        <strong>Desenvolvido por</strong>
    </h5>
    <p>
        Manoel Souza, bacharel em Sistemas de Informação pela
        Uninassau.
    </p>
    <a class="btn btn-sm btn-primary" style="background-color: #393bc7; border-color:#393bc7; margin-right: 15px;"
        href="https://www.linkedin.com/in/manoel-souza-995616150?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BjDRR5XBzTtSkhkmcJT7k4Q%3D%3D"
        role="button" target="_blank" data-toggle="tooltip" data-placement="bottom"
        title="Ver perfil no Linkedin">Perfil Linkedin »</a>
    <a style="margin-left: 10px;" class="btn btn-sm btn-primary"
        style="background-color: #393bc7; border-color:#393bc7;" href="https://github.com/manoelsouzadev" role="button"
        target="_blank" data-toggle="tooltip" data-placement="bottom" title="Ver perfil no Github">Perfil Github »</a>
</div>

<app-footer></app-footer>