<div class="center-div" id="main-div" #main>
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron" style="padding-bottom: 115px;">
                <!-- <figure>
            <div class="round-container">
                <img src="/assets/img/code.jpg" />
            </div>
        </figure> -->
                <h5 style="margin-bottom: 30px;">
                    <strong>Desenvolvido por</strong>
                </h5>
                <p style="margin-bottom: 30px;">
                    Manoel Souza, bacharel em Sistemas de Informação pela
                    Uninassau.
                </p>
                <a
                    class="btn btn-sm btn-primary"
                    style="background-color: #393bc7; border-color:#393bc7; margin-right: 15px;"
                    href="https://www.linkedin.com/in/manoel-souza-995616150?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BjDRR5XBzTtSkhkmcJT7k4Q%3D%3D"
                    role="button"
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Ver perfil no Linkedin"
                    >Perfil Linkedin »</a
                >
                <a
                    style="margin-left: 10px;"
                    class="btn btn-sm btn-primary"
                    style="background-color: #393bc7; border-color:#393bc7;"
                    href="https://github.com/manoelsouzadev"
                    role="button"
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Ver perfil no Github"
                    >Perfil Github »</a
                >
            </div>
        </div>
        <div class="col-sm" style="margin-bottom: 50px;">
            <div class="jumbotron">
                <h5 style="margin-bottom: 30px;">
                    <strong>Tecnologias utilizadas</strong>
                </h5>
                <ul>
                    <li>
                        Angular
                    </li>
                    <li>
                        HTML 5
                    </li>
                    <li>
                        CSS 3
                    </li>
                    <li>
                        Bootstrap 4
                    </li>
                    <li>
                        OMDb API
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <svg
    pageScroll
    href="#main-div"
    aria-hidden="true"
    color="#201f1f"
    focusable="false"
    data-prefix="fas"
    data-icon="angle-double-up"
    role="img"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 320 512"
    class="svg-inline--fa fa-angle-double-up fa-w-10 fa-3x cursor-pointer"
    style="
        width: 40px;
        height: 40px;
        margin-left: 10px;
        display: block;
        margin: 0 auto 89px auto;
    "
    (click)="scroll(main)"
>
    <path
        fill="currentColor"
        d="M177 255.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 351.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 425.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1zm-34-192L7 199.7c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l96.4-96.4 96.4 96.4c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9l-136-136c-9.2-9.4-24.4-9.4-33.8 0z"
        class=""
    ></path>
</svg> -->

<app-footer></app-footer>
