@media (max-width: 1024px) {
    .col-number {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .btn-search {
        margin-left: 88%;
    }
    .hidden-class {
        display: none;
    }

    // .show {
    //     visibility: hidden;
    // }
}

@media (width: 768px) {
    .col-number {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn-search {
        margin-left: 93%;
    }
    .input-search {
        margin-bottom: 6px;
        width: 100%;
    }
    .center-title {
        text-align: center;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    .col-number {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #icons-link {
        margin-left: 35%;
    }
    .title {
        margin-top: 20px;
        text-align: center;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .hidden-class {
        display: none;
    }

    .show {
        visibility: visible;
    }
}
a {
    text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(32, 31, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    border-bottom: 3px solid #f5560c;
}

.topnav a.active {
    border-bottom: 3px solid #f5560c;
}

.disable-active {
    .non-active {
        border-bottom: none;
    }
}
