<div class="show" style="visibility: hidden;">
    <div class="topnav show" style="font-weight: bold; padding: 3px;">
        <div class="row">
            <div class="col-4">
                <a
                    [routerLink]="['/']"
                    #linkHome
                    (click)="mostrarAtivo(linkHome)"
                    id="linkHome"
                    ><br />Home</a
                >
            </div>
            <div class="col-4">
                <a
                    [routerLink]="['/sobre']"
                    #linkSobre
                    (click)="mostrarAtivo(linkSobre)"
                    routerLinkActive="router-link-active"
                >
                    <br />Sobre</a
                >
            </div>
            <div class="col-4">
                <a
                    href="http://www.omdbapi.com/"
                    target="_blank"
                    #linkApi
                    (click)="mostrarAtivo(linkApi)"
                    ><br />API</a
                >
            </div>
        </div>
    </div>
</div>

<!-- <ul id="lista_menu">
    <li><a id="linkHome" #linkA (click)="mostrarAtivo(linkA);">Home</a></li>
    <li><a  #linkB (click)="mostrarAtivo(linkB);">Fotos</a></li>
    <li><a  (click)="mostrarAtivo(this);">Agenda</a></li>
    <li><a  (click)="mostrarAtivo(this);">Contato</a></li>
 </ul> -->

<!-- <div class="bottom-nav pos-absolute show" style="visibility: hidden;">
    <div
        class="topnav show"
        style="font-family: 'Fredoka One', sans-serif; padding: 3px;"
    >
    <div class="row">
        <div class="col-4">
    <button class="button">
        <span class="icon mif-home fg-white"></span>
        <span class="label"> <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            id="home"
            (click)="addClass()"
            >Home</a
        ></span>
    </button>
    </div>
        <div class="col-4">
    <button class="button">
        <span class="icon mif-info fg-white"></span>
        <span class="label"> <a
            [routerLink]="['/sobre']"
            routerLinkActive="router-link-active"
            (click)="removeClass()"
            >Sobre</a
        ></span>
    </button>
    </div>
   
        <div class="col-4">
    <button class="button">
        <span class="icon mif-server fg-white"></span>
        <span class="label"><a href="http://www.omdbapi.com/" target="_blank">API</a></span>
    </button>
    </div>
    </div>
</div> -->
