<!-- <figure> -->
<!-- <div class="round-container">
        <img src="/assets/img/not-found.png" />
    </div> -->
<div style="margin-top: 60px;" class="animation-center"> 
<div>
    <!-- <lottie-animation-view [options]="lottieConfig" [width]="300">
        <!-- [width]="300" -->
        <!-- [height]="600" -->
    <!-- </lottie-animation-view> --> 
    <ng-lottie
      width="230px"
      [options]="options"
      [styles]="styles"
    ></ng-lottie>
</div>
</div>   
<!-- </figure> -->
<h4 id="title">Nenhum resultado a ser exibido!</h4>
<!-- <app-footer></app-footer> -->
