#title {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Patua One", cursive;
}
.round-container {
    width: 19rem;
    height: 19rem;
    align-self: center;
    margin: 3rem auto 2rem auto;
    overflow: hidden;
    position: relative;
}
.round-container img {
    width: initial;
    height: inherit;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
