@media (max-width: 1024px) {
    .col-number {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .btn-search {
        margin-left: 88%;
    }
}

@media (width: 768px) {
    .col-number {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn-search {
        margin-left: 93%;
    }
    .input-search {
        margin-bottom: 6px;
        width: 100%;
    }
    .center-title {
        text-align: center;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .col-number {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #icons-link {
        margin-left: 35%;
    }
    .title {
        margin-top: 20px;
        text-align: center;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
