#main-container {
    margin-bottom: 30px;
}

.btn-bd-download {
    color: #fff;
}

.center-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}