<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >FilmesDB</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0" [formGroup]="form" id="float-right">
        <input
            class="form-control mr-sm-2"
            formControlName="nome"
            type="search"
            placeholder="Pesquisar filme"
            aria-label="Search"
        />
        <button
            class="btn btn-outline-primary my-2 my-sm-0 btn-bd-download" 
            type="submit"
            (click)="getFilmes()"
        >
            Search
        </button>
    </form>
</nav>
<router-outlet></router-outlet>