footer {
    background-color: rgb(32, 31, 31);
    padding: 20px;
    margin-top: 50px;
}

div>a {
    margin-right: 15px;
}

#img-logo {
    margin-left: 10px;
}

.icons-link {
    margin-right: 30px;
}

#footer-text {
    font-family: "Patua One", sans-serif;
    color: white;
}