<div id="main-div" style="margin-bottom: 100px;" #main name="top">
    <div #main id="div-margin-bottom" *ngIf="filmes; else loading">
        <div id="carousel-div" class="hidden-class mb-5" style="margin-top: -50px;">
            <div class="row">
                <div class="col py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="/assets/img/main-logo3.svg" alt="" width="82" height="82" />
                    <p class="lead info" style="font-family: FRedoka One;">
                        Fique por dentro das novidades!
                       
                    </p>
                    <div class="animation-center" style="display: flex; align-items: center; justify-content: center;">
                        <ng-lottie width="150px" [options]="options" [styles]="styles"></ng-lottie>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="hidden-class info">
            Encontre detalhes das suas séries, jogos, e filmes favoritos!
        </h3>
        <div class="row" class="div-search-center">
            <div class="col-2 col-number" *ngFor="let filme of filmes">
                <div class="card-transform text-center" id="card-filme" (click)="filmeDetalhes(filme.imdbID)">
                    <img [src]="filme.Poster" class="card-img-top dimensions" style="margin-bottom: 20px;" />
                    <small class="card-title show-title format-text" style="
                        padding-bottom: 10px;
                        
                    ">{{ filme.Title }}</small>
                </div>

            </div>
        </div>
        <!-- <a href="#top">
            <svg data-icon="angle-double-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                class="svg-inline--fa fa-angle-double-up fa-w-10 fa-3x cursor-pointer" style="
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;
                    display: block;
                    margin: 0 auto 90px auto;
                    color: #201f1f;
                " *ngIf="filmes">
                <path fill="currentColor"
                    d="M177 255.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 351.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 425.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1zm-34-192L7 199.7c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l96.4-96.4 96.4 96.4c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9l-136-136c-9.2-9.4-24.4-9.4-33.8 0z"
                    class=""></path>
            </svg>
        </a> -->
    </div>
</div>
<app-footer *ngIf="filmes"></app-footer>

<ng-template #loading>
    <spinner-load></spinner-load>
</ng-template>
