#float-right {
    float: right;
}
#card-filme {
    margin-bottom: 20px;
}
#btn-filme-detalhe {
    color: #fff;
}
#carousel-div {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    //background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to right, #0c479f, #3445b0, #583fbd, #7c32c6, #a00bc9);
    color: #fff;
}
.border {
    border-radius: 20px;
}
.round-container {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
