#float-right {
    float: right;
}
#card-filme {
    margin-bottom: 20px;
}
#btn-filme-detalhe {
    color: #fff;
}
#carousel-div {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    //background-color: rgba(0, 0, 0, 0.8);
    background-color: rgb(32, 31, 31);
    color: #fff;
}
.border {
    border-radius: 20px;
}
#main-img{
    border-radius: 8px;
}
.back-to-top,
a {
    margin-right: 5px;
    text-decoration: none;
    text-decoration-line: none;
}
