#navbar-menu {
    margin-bottom: 30px;
    // background: linear-gradient(
    //     120deg,
    //     #ee1c2e,
    //     #e1306c,
    //     #c13584,
    //     #833ab4,
    //     #5851db,
    //     #405de6
    // );
    // background: linear-gradient(120deg, #013369, #d50a0a);
    // background: linear-gradient(120deg, #ee1c2e, #00539f);
}
.text-color {
    color: #000;
}
.input-search-filmes {
    border: none;
    border-radius: 100px;
}
.input-search-filmes:hover {
    border-color: #405de6;
    transform: scale(1.05);
}
.btn-bd-search {
    color: #fff;
    border-radius: 100px;
}
.cor-icon {
    background: red;
    color: green;
}
.link {
    color: #fff;
}
@media (width: 768px) {
    .col-number {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .btn-search {
        margin-left: 93%;
    }

    .input-search {
        margin-bottom: 6px;
        width: 100%;
    }
}
