<div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>    
