<div #main>
    <div
        id="div-margin-bottom"
        class="container-fluid"
        *ngIf="filmes; else loading"
    >
        <div class="row">
            <div class="col-2 col-number" *ngFor="let filme of filmes">
                <div
                    class="card-transform text-center"
                    id="card-filme"
                    (click)="filmeDetalhes(filme.imdbID)"
                >
                    <img [src]="filme.Poster" class="card-img-top" />
                    <div class="card-body">
                        <small class="card-title">{{ filme.Title }}</small>
                        <!--<div>
                        <a
                            (click)="filmeDetalhes(filme.imdbID)"
                            class="btn btn-primary"
                            id="btn-filme-detalhe"
                            >Ver mais</a
                        >
                    </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div id="nav-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a
                            class="page-link cursor"
                            (click)="previousOrNextPage('start')"
                            aria-label="Previous"
                        >
                            <span aria-hidden="true">Início</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a
                            class="page-link cursor"
                            (click)="previousOrNextPage('previous')"
                            aria-label="Previous"
                            *ngIf="show"
                        >
                            <span aria-hidden="true">Anterior</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a
                            class="page-link cursor"
                            (click)="previousOrNextPage('next')"
                            aria-label="Next"
                            *ngIf="show"
                        >
                            <span aria-hidden="true">Próxima</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a
                            class="page-link cursor"
                            (click)="previousOrNextPage('end')"
                            aria-label="Previous"
                        >
                            <span aria-hidden="true">Final</span>
                        </a>
                    </li>
                </ul>
                <svg
                    aria-hidden="true"
                    color="purple"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-up"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512"
                    class="svg-inline--fa fa-angle-double-up fa-w-10 fa-3x cursor-pointer"
                    style="width: 40px; height: 40px; margin-left: 10px; display: block; margin: 0 auto;"
                    (click)="scroll(main)"
                    *ngIf="filmes"
                >
                    <path
                        fill="currentColor"
                        d="M177 255.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 351.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 425.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1zm-34-192L7 199.7c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l96.4-96.4 96.4 96.4c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9l-136-136c-9.2-9.4-24.4-9.4-33.8 0z"
                        class=""
                    ></path>
                </svg>
            </nav>
        </div>
        <p class="float-right back-to-top" style="margin-bottom: 5px;">
            <a href="#">Voltar ao topo</a>
        </p>
    </div>
</div>

<app-footer *ngIf="filmes"></app-footer>
<ng-template #loading>
    <spinner-load></spinner-load>
</ng-template>

<!--orm [formGroup]="form">
    <div class="card">
        <div class="card-body">
            <input
                type="text"
                placeholder="Pesquisar Filme"
                formControlName="nome"
                class="form-control"
            />
            <button (click)="getFilmes()" class="btn btn-success mt-3">
                Pesquisar
            </button>
        </div>
    </div>
</!--form>
<div>
    <ul *ngFor="let filme of filmes">
        <img [src]="filme.Poster" (click)="filmeDetalhes(filme.imdbID)" />
        <li>{{ filme.Title }}</li>
        <li>{{ filme.Year }}</li>
    </ul>
</div>-->

<!--div class="row">
    <form class="col s12" [formGroup]="form">
        <div class="row">
            <div class="input-field col s6">
                <input
                    placeholder="Placeholder"
                    id="first_name"
                    type="text"
                    class="validate"
                    formControlName="nome"
                />
                <label for="first_name">Pesquisar Filme</label>
                <button class="btn waves-effect waves-light" type="submit" name="action" (click)="getFilmes()">Submit
                    <i class="material-icons right">Pesquisar</i>
                  </button>    
            </div>
        </div>
    </form>
</!--div>


<div-- class="row">
    <div class="col s12 m6">
      <div class="card" *ngFor="let filme of filmes">
        <div class="card-image">
          <img [src]="filme.Poster">
          <span class="card-title">{{ filme.Title }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="filmeDetalhes(filme.imdbID)"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div-->
