/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./app/scss/media-queries.scss";
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

.card-transform:hover {
  color: #fff;
  background-color: rgb(48, 48, 48);
  transform: scale(1.05);
  transition-duration: 0.2s;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}

#div-margin-bottom {
  margin-top: 70px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #e0e3e6;
}

html{
  overflow-x: hidden;
  overflow-y: auto;
}

aplica.cursor-pointer {
  cursor: pointer;
}

.info {
  font-family: "Patua One", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.div-search-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dimensions {
  max-width: 310px;
  max-height: 220px;
  //width: 200px;
  height: 220px;
}

.format-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.animation-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

