/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/scss/media-queries.scss';
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.card-transform:hover {
  color: #fff;
  background-color: rgb(48, 48, 48);
  transform: scale(1.05);
  transition-duration: 0.5s;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
#div-margin-bottom {
    margin-top: 70px;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.cursor-pointer {
  cursor: pointer;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: 3px solid #f5560c;;
}

.topnav a.active {
  border-bottom: 3px solid rgb(0, 148, 25);
}

.disable-active{
  .non-active{
    border-bottom: none;
  }
}