#float-right {
    float: right;
}

#card-filme {
    margin-bottom: 20px;
}

#btn-filme-detalhe {
    color: #fff;
}

#carousel-div{
    margin-bottom: 30px;
   padding: 10px; 
   border-radius: 5px;
  background-color: rgba(0,0,0,0.8);  
  color:#fff;
}

.border{
    border-radius: 20px;
}

.round-container {
    
    border-radius: 5px;
  
    overflow: hidden;
    position: relative;
}
