<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0" [formGroup]="form" id="float-right">
        <input
            class="form-control mr-sm-2"
            formControlName="nome"
            type="search"
            placeholder="Pesquisar filme"
            aria-label="Search"
        />
        <button
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
            (click)="getFilmes()"
        >
            Search
        </button>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" *ngFor="let filme of filmes">
            <div class="card">
                <div class="card-body">
                    <img
                        [src]="filme.Poster"
                        (click)="filmeDetalhes(filme.imdbID)"
                        class="card-img-top"
                    />
                    {{ filme.Title }}
                    {{ filme.Year }}
                </div>
            </div>
        </div>
    </div>
</div>

<!--orm [formGroup]="form">
    <div class="card">
        <div class="card-body">
            <input
                type="text"
                placeholder="Pesquisar Filme"
                formControlName="nome"
                class="form-control"
            />
            <button (click)="getFilmes()" class="btn btn-success mt-3">
                Pesquisar
            </button>
        </div>
    </div>
</!--orm>
<div>
    <ul *ngFor="let filme of filmes">
        <img [src]="filme.Poster" (click)="filmeDetalhes(filme.imdbID)" />
        <li>{{ filme.Title }}</li>
        <li>{{ filme.Year }}</li>
    </ul>
</div>-->

<!--div class="row">
    <form class="col s12" [formGroup]="form">
        <div class="row">
            <div class="input-field col s6">
                <input
                    placeholder="Placeholder"
                    id="first_name"
                    type="text"
                    class="validate"
                    formControlName="nome"
                />
                <label for="first_name">Pesquisar Filme</label>
                <button class="btn waves-effect waves-light" type="submit" name="action" (click)="getFilmes()">Submit
                    <i class="material-icons right">Pesquisar</i>
                  </button>    
            </div>
        </div>
    </form>
</!--div>


<div-- class="row">
    <div class="col s12 m6">
      <div class="card" *ngFor="let filme of filmes">
        <div class="card-image">
          <img [src]="filme.Poster">
          <span class="card-title">{{ filme.Title }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="filmeDetalhes(filme.imdbID)"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div-->
